money-keeper-core/build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

.idea
*.iml

money-keeper-angular-ui/node_modules
money-keeper-angular-ui/src/app/**/*.js
money-keeper-angular-ui/src/app/**/*.js.map
npm-debug.log
classes/
.gradle/

**/.DS_Store
money-keeper-core/src/main/generated